body, html{
  background: #f4f4f4;
  height: 100%;
}

.banner {
  background: #05080C;
  background: -webkit-linear-gradient(to right, #05080C, #FFFEEA);
  background: linear-gradient(to right, #05080C, #FFFEEA);
}

h1 {
  font-family: 'Changa';
}

.nav-item {
  font-family: 'Genos', 'changa';
  font-size: 1.5em;
}



.container-fluid {
  background-color:#101011 ;
  color: #f4f4f4;
  
}
.navbar-brand{
  color: #f4f4f4;
}

.navbar-toggler{
  color: #f4f4f4;

}

.navbar-toggler.collapsed{
  color: #f4f4f4;

}
a.nav-link{
  color: #f4f4f4;
}

span.navbar-toggler-icon{
  border-color: #f4f4f4
}